html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'apercu', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.word-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
}

.word-generator__controls {
    display: flex;
    opacity: 1;
    flex-wrap: wrap;
    animation: fade-in 0.8s;
    overflow-x: scroll;
}

@media only screen and (min-width: 600px) {
    .word-generator__controls {
        flex-wrap: nowrap;
    }
}

.canvas {
    display: none;
}

.result__word {
    word-break: break-word;
}

.words,
.colours,
.speed,
.capture,
.fonts {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .words,
    .colours,
    .speed,
    .capture,
    .fonts {
        margin: 20px;
        display: flex;
        flex-direction: column;
        min-width: 200px;
    }
}

.words__title,
.colours__title,
.speed__title,
.image-count__title,
.fonts__title {
    font-size: 22px;
    margin-bottom: 8px;
}

.word-generator__list-item {
    list-style-position: inside;
    font-size: 14px;
    display: inline-block;
    word-break: break-word;
}

.words__input,
.colours__input {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    padding: 4px;
    border: 2px solid #4347F5;
}

.words__list {
    word-break: break-all;
}

.words__form,
.colours__form {
    margin: auto 0 0;
}

.words__btn,
.colours__btn,
.capture__btn,
.acquire-gif-link {
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
    background-color: #4347F5;
    font-size: 14px;
    transition: background-color 0.3s;
}

.words__btn:hover,
.colours__btn:hover,
.capture__btn:hover,
.acquire-gif-link:hover {
    cursor: pointer;
    background-color: #5955d8;
}

.words__clear-all {
    color: #4347F5;
    border: 0;
    background-color: white;
    font-size: 14px;
    border-bottom: 2px solid #4347F5;
    transition: border-color 0.3s;
}

.words__clear-all:hover {
    cursor: pointer;
    border-color: #FFC300;
}

.acquire-gif-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 8px 11px;
}

.acquire-gif-link--disabled {
    background-color: #D3D3D3;
    pointer-events: none;
}

.acquire-gif-link:first-child {
    margin-right: 8px;
}

.capture {
    justify-content: flex-end;
    position: relative;
}

/* To stop margins collapsing with overflow: scroll */
.capture:after {
    content: "";
    width: 20px;
    height: 1px;
    position: absolute;
    left: 100%;
    top: 0px;
  }

/* Range control */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb:hover {
    background: #2e32ec;
    -webkit-transition: .2s;
    transition: background .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #4347F5;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.speed__text,
.image-count__text {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.capture__count,
.capture__render-count {
    font-size: 14px;
    margin-bottom: 12px;
}

.capture__render-count {
    margin-bottom: 8px;
}

.hand {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M370.286 69.486V36.571C370.286 16.457 353.829 0 333.714 0H168.229c-20.114 0-35.657 16.457-35.657 36.571V70.4c-26.514 35.657-27.429 48.457-27.429 112.457 0 33.829 9.143 72.229 10.971 83.2-5.486 21.029 5.486 42.971 26.514 50.286 7.455 2.236 14.909 2.648 21.868 1.237a39.155 39.155 0 004.651-.995c.107 16.367 11.047 31.784 27.423 37.243l1.829.914a42.232 42.232 0 0025.518-.236c1.808-.5 3.644-1.043 5.567-1.592 1.3-.65 2.558-1.382 3.779-2.174 3.89 18.918 21.107 33.26 41.021 33.26 8.229 0 16.457-2.743 22.857-7.314v94.171c0 22.857 18.286 41.143 41.143 41.143s41.143-18.286 41.143-41.143v-256c24.686-19.2 27.429-39.314 27.429-67.657v-.914c.001-38.4-26.513-67.657-36.57-76.8zM253.407 199.659c-12.904 16.678-22.632 32.143-26.664 42.627-1.017 2.415-1.723 4.938-2.164 7.521-1.706 8.942-.37 17.784 3.432 25.232 3.212 7.563 8.186 14.413 14.275 19.361l-10.057 29.257c-1.829 5.486-5.486 10.057-10.971 12.8-4.571 2.743-10.971 2.743-16.457.914l-1.829-.914c-5.486-1.829-10.057-5.486-12.8-10.971a22.768 22.768 0 01-.792-1.783c-1.566-4.511-1.687-9.59-.123-14.674l6.4-18.286 28.445-84.521.813-2.336c4.571-11.886 16.457-17.371 28.343-13.714l1.829.914c.899 0 2.677.884 3.606 1.783a425.94 425.94 0 00-5.286 6.79zM211.2 189.257l-24.69 71.327-8.411 24.181c-4.713 11.585-17.331 16.904-29.071 13.292-11.886-3.657-18.286-16.457-13.714-29.257 0-.899.22-1.799.336-2.698l31.664-91.473c1.829-5.486 6.4-10.057 11.886-12.8 2.743-1.829 6.4-2.743 10.057-2.743 2.743 0 4.571.914 8.229.914 5.486 1.829 10.057 6.4 12.8 11.886s2.743 11.885.914 17.371zm81.371 170.057c-4.571 3.657-10.057 6.4-16.457 6.4-12.8 0-23.771-10.057-23.771-22.857V339.2l2.743-21.029c0-.942-.123-1.883-.348-2.793l7.662-21.892c.16-.399.281-.798.386-1.195 8.098-.904 17.548-4.215 28.871-12.519 2.101-1.284 4.563-2.899 7.314-4.779v69.694c0 5.484-2.742 10.97-6.4 14.627zm45.715 134.4c-12.8 0-22.857-10.057-22.857-22.857V344.686c0-.914 0-.914 1.829-.914v-77.714c0-1.362-.226-2.61-.649-3.718 13.528-10.002 29.504-22.261 44.535-33.683v242.201c-.001 12.799-10.058 22.856-22.858 22.856zm50.285-347.428c0 27.429-1.829 41.143-22.857 55.771l-.914.914c-29.257 21.943-67.657 52.114-83.2 62.171-14.629 9.143-26.514 11.886-33.829 6.4-.963-.803-1.807-1.782-2.539-2.883-2.699-6.336-3.428-13.514-1.118-19.06 4.571-10.971 17.371-30.171 34.743-51.2 1.063-1.417 1.709-2.971 1.948-4.557 20.593-24.338 43.644-46.677 54.738-51.215 4.571-1.829 6.4-7.314 4.571-11.886-1.829-4.571-7.314-6.4-11.886-4.571-13.321 5.709-36.542 27.758-57.688 52.36-2.882-1.954-5.968-3.494-9.055-4.817l-1.829-.914c-10.502-3.653-21.459-2.744-30.709 1.699-2.893-13.845-12.848-26.072-26.891-30.956-10.057-3.657-21.029-2.743-31.086 1.829-10.057 5.486-17.371 13.714-21.029 23.771l-21.562 62.29c-2.607-14.644-4.953-32.33-4.953-48.575 0-64 .914-71.314 25.6-104.229 1.829-1.829 1.829-4.571 1.829-6.4V36.571c0-10.057 8.229-18.286 17.371-18.286h165.486c10.057 0 18.286 8.229 18.286 18.286v36.571c0 2.743.914 5.486 3.657 7.314 0 0 32 27.429 32.914 64.914v.916z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110px;
    width: 84px;
    position: absolute;
    top: calc(100vh - 140px);
    left: 24px;
    text-align: center;
    animation: bounce 3s;
    opacity: 0;
    text-decoration: none;
    color: black;
    pointer-events: none;
}

.capture__acquire-wrapper {
    display: flex;
    margin: 0 0 8px;
}

@keyframes bounce {
    0%   { 
        transform: translateY(0) ;
        opacity: 1;
        pointer-events: all;
    }
    20%  { transform: translateY(12px); }
    40%  { transform: translateY(0); }
    60%  { transform: translateY(12px); }
    80%  { opacity: 1;    }
    100% { 
        transform: translateY(0);
        pointer-events: all;
    }
}

.fonts__checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.fonts__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.fonts__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

/* On mouse-over, add a grey background color */
.fonts__checkbox-wrapper:hover input ~ .fonts__checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.fonts__input:checked ~ .fonts__checkmark {
    background-color: #2e32ec;
}

/* Create the checkmark/indicator (hidden when not checked) */
.fonts__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.fonts__input:checked ~ .fonts__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.fonts__checkbox-wrapper .fonts__checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@font-face {
    font-family: apercu;
    src: url(fonts/apercu_regular_pro.otf);
}

@font-face {
    font-family: sheppySans;
    src: url(fonts/SheppySanstest-Regular.otf);
}

@font-face {
    font-family: airSpace;
    src: url(fonts/Airspace_Skeleton-Medium.ttf);
}

@font-face {
    font-family: jonesMono;
    src: url(fonts/Jones_mono_test-Regular.otf);
}

@font-face {
    font-family: LisbonRuha;
    src: url(fonts/Lisbon_Ruha_revised-Regular.otf);
}

@font-face {
    font-family: LooseFit;
    src: url(fonts/LooseFit-Regular.otf);
}

@font-face {
    font-family: PascalDisplay;
    src: url(fonts/Pascal-Display.otf);
}

@font-face {
    font-family: SelavyCross;
    src: url(fonts/Selavy-CrossBoldAngleTwo.otf);
}

@font-face {
    font-family: WorkFormStandard;
    src: url(fonts/work-formStandard-Italic.otf);
}

@font-face {
    font-family: WorkCurvy;
    src: url(fonts/WorkCurvy-Regular.ttf);
}

@font-face {
    font-family: WorkSlab;
    src: url(fonts/WorkSlab.otf);
}
