* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.word-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
}

.word-generator__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.canvas {
    display: none;
}

.words,
.colours,
.speed,
.capture {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
}

.words__title,
.colours__title,
.speed__title,
.image-count__title {
    font-size: 22px;
    margin-bottom: 8px;
}

.words__list-item,
.colours__list-item {
    list-style-position: inside;
    font-size: 14px;
}

.words__input,
.colours__input {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    padding: 4px;
    border: 2px solid #4347F5;
}

.words__form,
.colours__form {
    margin: auto 0 0;
}

.words__btn,
.colours__btn,
.capture__btn {
    color: white;
    padding: 8px;
    border-radius: 3px;
    border: 0;
    background-image: linear-gradient(#4347F5, #4247F5);
}

.capture {
    justify-content: flex-end;
}

/* Range control */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb:hover {
    background: #2e32ec;
    -webkit-transition: .2s;
    transition: background .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #4347F5;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.speed__text,
.image-count__text {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.capture__count,
.capture__render-count {
    font-size: 14px;
    margin-bottom: 12px;
}
